.jumbotron {
  background-image: url(../images/iStock-1279502184.jpg);
  background-position: center;
  background-size: cover;
  height: 360px;
}

.jumbotron h1 {
  background-color: slategray;
  opacity: 0.9;
  color: white;
  padding-left: 16px;
}

.jumbotron p {
  background-color: slategray;
  opacity: 0.9;
  color: white;
  padding-left: 16px;
}
